video {
  object-fit: fill;
}

.overlay {
  background: rgba(0, 0 , 0, 0.2);
  position: absolute;
}

.jumboLogo {
  height: 47.5%;
  position: absolute;
  top: 47.5%;
  transform: translateY(-50%);

  &.h {
    height: 66%;
  }
}