<div class="d-flex justify-content-center mb-3">
  <!-- Unsure about the video loop idea... -->
  <video class="jumbo" [width]="width" [height]="height" onloadedmetadata="this.muted = true" autoplay loop>
    <!-- <source src="../../assets/media/videos/geometric.mp4" sizes> -->
  </video>
  <!-- TODO: overlay cycle through colours / randomise; Cache images / videos in a service -->
  <!-- <div class="overlay" [style.height.px]="height" [style.width.px]="width"></div> -->
  <img [ngClass]="{h: orientation}" class="position-absolute jumboLogo" src="../../assets/media/images/sj-group.png" alt="">
</div>
<div class="d-flex justify-content-center">
  <p>
    home works!
  </p>
</div>
