.mat-list-item {
  color: #fff;
}

.sj-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-icon {
    color: #fff;
  }
}

.sj-sidenav-container {
  flex: 1;

  mat-sidenav {
    background: #f48fb1; 
    // background: #0CA79F; 
  }
}

.sj-is-mobile {

  .sj-toolbar {
    position: fixed;
    z-index: 2;
  }

  .sj-sidenav-container {
    flex: 1 0 auto;    
  }
}

.active {
  background: #0CA79F;
  // background: #f48fb1;
  // color: #fff;

  &:focus {
    // background: #f48fb1; 
    background: #0CA79F; 
  }

  &:hover {
    // background: #f48fb1;
    background: #0CA79F;
  }
}

.sj-sidenav-content {
  background: #fff;
  overflow-x: hidden;
}