<!-- Add Intro jumbo here *header as footer* -->
<div style="height: 80%;">Jumbo</div>
<div class="sj-container" [class.sj-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="sj-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="sj-name">San Junipero</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sj-sidenav-container">
    <mat-sidenav #snav mode="side" >
      <mat-nav-list class="no-pad">
        <a routerLink="/home" mat-list-item>Home</a>
        <a routerLink="/music" mat-list-item>Music</a>
        <a mat-list-item>Gigs</a>
        <a mat-list-item>Merch</a>
        <a mat-list-item>Store</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

