<!-- Add Intro jumbo here *header as footer* -->
<div class="sj-container" [class.sj-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="sj-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <!-- <h1 class="sj-name">San Junipero</h1> -->
    <img src="../assets/media/images/sj-white-sm.png" alt="">
  </mat-toolbar>

  <mat-sidenav-container class="sj-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav mode="side" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list class="no-pad">
        <a [routerLink]="['home']" routerLinkActive="active" mat-list-item>Home</a>
        <a [routerLink]="['music']" routerLinkActive="active" mat-list-item>Music</a>
        <a [routerLink]="['gigs']" routerLinkActive="active" mat-list-item>Gigs</a>
        <!-- <a [routerLink]="['home']" routerLinkActive="active" mat-list-item>Merch</a> -->
        <!-- <a [routerLink]="['home']" routerLinkActive="active" mat-list-item>Store</a> -->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="sj-sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

