header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nopad {
  padding: 0;
}

.wide {
  width: 100%;
}

.small {
  height: 0;
}

@media (max-width: 991.98px) {
  .test {
    position: fixed;
    height: 0;
    width: 0;
    z-index: 1000;
  }
}